# Python
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment / secrets
.env

# Datasets
*.zip
data/
datasets/

# ML models
*.keras
*.h5
*.hdf5
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db